<div class="container" style="min-height: 100vh;">
  <div *ngIf="products.length < 1; else listCart" class="nothing row justify-content-center">You cart is empty</div>
  <ng-template #listCart>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID Product</th>
              <th scope="col">Article Name</th>
              <th scope="col">Price by unit</th>
              <th scope="col">Amount</th>
              <th scope="col">Total price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <th scope="row">{{product.id}}</th>
              <td>{{product.title}}</td>
              <td>{{product.price | currency}} </td>
              <td>{{product.amount}} </td>
              <td>{{product.amount * product.price | currency}}</td>
              <td>
              <button (click)="deleteProduct(product.id)" type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <p class="p-3 col-6 text-left" style="font-weight: bold;">Total: {{total | currency}}</p>
      <button class="btn btn-secondary col-6">Proceed to checkout</button>
    </div>
  </ng-template>


</div>
