<!-- <div class="product-container">

  <div class="card" style="width: 15rem; height: 300px;">
    <app-img class="card-img-top" *ngIf="product.images.length >= 0" [img]="product.images[0]"></app-img>
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <h6 class="card-subtitle mb-1 mt-2">{{product.price | currency}}</h6>
      <div class="row justify-content-center pt-1">
        <a [routerLink]="['/product', product.id]" class="m-2 col-5">
          <button class="btn btn-secondary btn-sm" style="width: 5rem;">Details</button>
        </a>
        <button (click)="addToCart()" class="btn btn-primary m-2 btn-sm col-5" style="width: 5rem;">Add Cart</button>
      </div>
    </div>
  </div>
</div> -->
<div class="product-container">
    <app-img *ngIf="product.images.length >= 0" [img]="product.images[0]"></app-img>

  <h2 class="price">{{ product.price | currency : "COP" }}</h2>
  <p class="title">{{ product.title }}</p>
  <button class="add-cart" (click)="addToCart()">Add to cart</button>
  <button [routerLink]="['/product', product.id]" class="details">Details</button>
</div>

